*{margin: 5px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
    grid-auto-flow: row;
    grid-template-areas:
      "chicken"
      "beef"
      "sushi";
  }
  .chicken { 
    grid-area: chicken;
     background-color: silver;
     border: solid;
  }
  .beef { 
    grid-area: beef; 
     background-color: silver;
     border: solid;
  }
  .sushi { 
    grid-area: sushi; 
     background-color: silver;
     border: solid;
  }
  #chick{
    background-color: pink;
    border-left: solid black;
    border-bottom: solid black;
    text-align: center;
    margin-left: 60%;
    margin-right: 0;
    margin-top: 0;
  }
  #bf{
    background-color: brown;
    color:#ffffff;
    border-left: solid black;
    border-bottom: solid black;
    text-align: center;
    margin-left: 60%;
    margin-right: 0;
    margin-top: 0;
  }
  #sush{
    background-color: yellow;
    border-left: solid black;
    border-bottom: solid black;
    text-align: center;
    margin-left: 60%;
    margin-right: 0;
    margin-top: 0;
  }
  h1{
    text-align: center;
    font-size: 3rem;
  }

@media (min-width: 768px){
    .container {  
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;     
        height: 80vh;
        grid-template-areas: 
          "chicken beef"
          "sushi sushi"; 
      }
    }

@media (min-width: 1024px){
    .container { 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr; 
        height: 50vh;  
        grid-auto-flow: row;
        grid-template-areas:
          "chicken beef sushi";
      }
    }