*{margin: 0px;
    box-sizing: border-box;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-items: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1cm;
}

h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    justify-items: center;
    align-items: center;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    justify-items: center;
}

.container{
    height: 100vh;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);  
}


.container .box:nth-child(1){
    background-color: #fda720;
}
.container .box:nth-child(2){
     background-color: #fda720;
}
.container .box:nth-child(3){
    background-color: #fda720;
}
.container .box:nth-child(4){
    background-color: #fda720;
}
.container .box:nth-child(5){
    background-color: #fda720;
}
.box{
    display: grid;
    justify-items: left;
    align-items: center;
}

.button1 {
    padding: 20px;
    padding-left:40px;
    padding-right:40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
}
    
.button2 {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: black;
    border-color: #fda720;
}




@media (min-width:720px){

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 1cm;
}

    
h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;

}
    
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.container{

    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(6,1fr);

}

.container .box:nth-child(1){
    grid-area: 1/1/3/4;
    background-color: #fda720;
    justify-items: center;
    align-items: center;
}
.container .box:nth-child(2){
    grid-area: 1/4/3/7;
    background-color: #fda720;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.container .box:nth-child(3){
    grid-area: 3/1/4/3;
    border-color: #fda720;
    padding: 20px;
    margin: 2%;
    background-color:white ;
}
.container .box:nth-child(4){
    grid-area: 3/3/4/5;
    padding: 20px;
    margin: 2%;
    background-color:white ;
}
.container .box:nth-child(5){
    grid-area: 3/5/4/7;
    padding: 20px;
    margin: 2%;
    background-color:white ;
}

}
